{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Upload </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'cloth_register/styles.css' %}">
</head>
<body>
    <header>
        <h1>Upload Additional Images for {{ item.name }}</h1>
        <img src="../..{{ item.image.url}}" class="product-image img-fluid" alt="item.name"></br> </br>
    </header>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload Image</button>
      </form>
</body>
</html>
